<div class="mt-4 col-md-5 mx-auto">
    <div class="card shadow-sm mt-5">
        <div class="card-body">
            <h4 class="card-title text-center mb-4">Login no Sistema</h4> <form action="/usuarios/login" method="POST"> 
                
                <div class="mb-3">
                    <label for="email" class="form-label">E-mail:</label>
                    <input type="email" name="email" class="form-control" placeholder="Seu e-mail cadastrado" required> </div>

                <div class="mb-3">
                    <label for="senha" class="form-label">Senha:</label>
                    <input type="password" name="senha" class="form-control" placeholder="Sua senha" required> </div>

                <button type="submit" class="btn btn-success w-100 mt-2">Entrar</button> </form>
        </div>
    </div>
</div>