<div class="mt-4 col-md-6 mx-auto">
    {{#each erros}}
        <div class="alert alert-danger">{{texto}}</div> {{/each}}

    <div class="card shadow-sm mt-3">
        <div class="card-body">
            <h3 class="card-title text-center mb-4">Crie sua conta hoje!</h3> <form action="/usuarios/registro" method="POST"> <div class="mb-3">
                    <label for="nome" class="form-label">Nome:</label>
                    <input type="text" name="nome" class="form-control" placeholder="Seu nome completo" required> </div>

                <div class="mb-3">
                    <label for="email" class="form-label">E-mail:</label>
                    <input type="email" name="email" class="form-control" placeholder="exemplo@email.com" required> </div>

                <div class="mb-3">
                    <label for="senha" class="form-label">Senha:</label>
                    <input type="password" name="senha" class="form-control" placeholder="Crie uma senha forte" required> </div>

                <div class="mb-3">
                    <label for="senha2" class="form-label">Repita a sua senha:</label>
                    <input type="password" name="senha2" class="form-control" placeholder="Confirme a senha anterior" required> </div>

                <button type="submit" class="btn btn-success w-100 mt-2">Criar Conta</button> </form>
        </div>
    </div>
</div>