<div class="mt-4">
    <h1>{{postagem.titulo}}</h1>
    <small>Publicado em: {{postagem.date}}</small>
    <hr class="my-4">

    <div class="card shadow-sm">
        <div class="card-body fs-5" style="line-height: 1.8;">
            {{postagem.conteudo}}
        </div>
    </div>

    <br>
    <a href="/" class="btn btn-secondary mb-5">← Voltar para a Página Inicial</a>
</div>